code:not([class*="language-"]) {
  background: #f9f9f9;
  color: #bf616a;
  font-size: 17px;
  padding: 0 4px;
  border: none;
  border-radius: 4px;
  overflow: auto;
  font-family: 'Menlo', 'Monaco', Courier, monospace;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 420px) {
  code:not([class*="language-"]) {
    font-size: 14px;
  }
}

pre code {
  color: white;
  width: 100%;
}

pre[class*="language-"], pre {
  font-family: 'Menlo', 'Monaco', Courier, monospace !important;
  border-radius: 4px;
  font-size: 15px;
  padding: 30px;
  margin: 0 -30px 30px;
  background: #f7faff8c;
  display: flex;
}

code[class*="language-"] {
  font-family: 'Menlo', 'Monaco', Courier, monospace !important;
  line-height: 1.6;
  font-size: 1em;
}

@media (max-width: 420px) {
  pre[class*="language-"], pre {
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
    font-size: 14px;
  }

  pre code {
    width: auto;
  }
}

.hl {
  display: block;
  background-color: #ecf6ff;
  box-shadow: inset 3px 0px 0 0 #ffa644;
  margin: 0 -30px;
  padding: 0 30px;
}

.ln, .lnt {
  user-select: none;
  display: inline-block;
  margin-right: 10px;
}

@media (max-width: 420px) {
  .highlight {
    margin-left: -20px;
    margin-right: -20px;
  }
  .highlight pre[class*="language-"] {
    margin-left: 0;
    margin-right: 0;
  }
  .hl {
    margin: 0 -20px;
    padding: 0 20px;
  }
}
