pre[class*="language-"], pre {
  font-family: 'Menlo', 'Monaco', Courier, monospace;
  box-shadow: inset 0 0 0 1px #E4EBF2;
  border-radius: 4px;
  font-size: 14px;
  padding: 16px;
  margin: 0 0 30px;
  background: #282c34;
}

pre code {
  color: white;
}

@media (max-width: 420px) {
  pre[class*="language-"] {
    margin-left: -20px;
    margin-right: -20px;
  }

  pre code {
      font-size: 13px;
  }
}

.hl {
  display: block;
  background-color: #354054;
  box-shadow: inset 3px 0px 0 0 #ffa644;
  margin: 0 -15px;
  padding: 0 15px;
}

.ln {
  margin-right: 20px;
  user-select: none;
}
